*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color: rgb(247, 238, 162);
}
h4{
    text-align: center;
    border: 2px solid black;
    width: 200px;
    height: 25px;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(207, 245, 247);
}
.date_time{
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 80px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(167, 219, 221);
    font-size: 30px;
}